<nav id="main-nav" class="spacing-layer">

    <div class="nav-wrapper">

        <div class="navigation">

            <a href="#start"><img src="/fotoapp/img/gallery-icon.svg" alt=""></a>
            <a href="#start">
                <p>Photo Gallery</p>
            </a>


        </div>

        <!-- <div class="searchbar">

            <input id="search-box" placeholder="Search" type="text">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        </div> -->

        <div class="settings navigation">

            <div class="nav-profile"><img src="/fotoapp/img/profile.jpg" alt="profile-img"></div>

        </div>

    </div>

</nav>