/*General Styles*/

* {
    font-family: "Roboto", arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    scroll-behavior: smooth;

}


body {
    background-color: #fff;
    color: #202124;
    direction: ltr;
    font-size: 15px;
    margin: 0;
    min-width: 360px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 20px;
    color: #5f6368;
}

i {
    cursor: pointer;

}

main {
    position: relative;
    top: 80px;
    width: 100vw;


}


/*------ Help Classes ------*/

.spacing-layer {
    padding: 15px;

}

.d-none {
    display: none !important;

}

.popup {
    position: fixed;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
    z-index: 999;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #5f6368;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.button-style {
    background-color: #fff;
    padding: 5px;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    min-width: 95px;
    border-radius: 5px;
    border: solid 1px #bbbcbe;
    color: #5f6368;
    cursor: pointer;

}

.button-style:hover {
    background-color: rgba(95, 99, 104, 0.039);

}

.message-container {
    display: flex;
    align-items: center;

}

.message {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 14px;
    margin-left: 10px;
    color: #5f6368;

}

.emoji {
    font-size: 50px;

}

/*------ Navigation List ------*/

header {
    position: fixed;
    top: 0;
    -webkit-box-shadow: inset 0 -1px 0 0 #dadce0;
    box-shadow: inset 0 -1px 0 0 #dadce0;
    width: 100vw;
    background-color: #fff;
    z-index: 2;
}



#main-nav .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

#main-nav i {
    padding: 20px;
}

#main-nav p {
    font-size: 24px;
    color: #5f6368;

}

#main-nav .fa-bars {
    color: #5f6368;


}

#main-nav .fa-note-sticky {
    color: rgb(255, 174, 25);
}

#main-nav .navigation {
    display: flex;
    align-items: center;
    width: auto;

}

#main-nav .navigation a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;

}

#main-nav .navigation div {
    height: 48px;
    width: 48px;
    align-items: center;
    display: flex;
    justify-content: center;

}

#main-nav .nav-hov:hover {
    background-color: rgba(60, 64, 67, .08);
    border-radius: 100%;

}

#main-nav .searchbar {
    position: relative;
    width: 60%;


}

#main-nav .searchbar input {
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%),
        0 1px 3px 1px rgb(65 69 73 / 15%);
    ;
    border: 1px solid transparent;
    padding-left: 60px;
    padding-right: 10px;
    height: 48px;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 16px;
    width: 70%;
    background: #f1f3f4;
    outline: none;

}

#main-nav .searchbar input:focus {
    background: rgba(255, 255, 255, 1);
    transition: background 125ms ease-in-out;
    border: none;
}

#main-nav .searchbar i {
    position: absolute;
    top: 4px;
    left: 40px;
    color: #5f6368;

}

#main-nav .settings i {
    color: #5f6368;
    width: auto;
}

#main-nav img {
    width: 48px;
    height: 48px;
    z-index: 0;


}

#main-nav .nav-profile {
    padding: 17px;
    border-radius: 100%;
    border: 2px solid #bbbcbe;
    cursor: pointer;
    overflow: hidden;
    margin-right: 20px;

}

/*------ Menu ------*/

#menu-icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0px;

}

#menu-icons img {
    height: 24px;
    width: 24px;
    margin-right: 20px;
    vertical-align: middle;

}

.menu-icon-text {
    display: flex;
    justify-content: start;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 48px;
    min-width: 48px;
    overflow: hidden;
    width: 100%;
    align-items: center;
    letter-spacing: .01785714em;
    padding-right: 20px;
    padding-left: 30px;
    cursor: pointer;


}

.menu-icon-text:hover {
    background-color: #f1f3f4;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

#menu-icons .menu-icon-text.active {
    background-color: rgba(254, 239, 195, 1);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

.menu-icon-text a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #5f6368;
    padding-top: 2px;
}

/*------ Upload ------*/

.input-div {
    margin-left: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dotted black;
    background-color: white;
    position: relative;
}

.file {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

output {
    margin-left: 200px;
    margin-top: 15px;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
}

output .image {
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

output .image img {
    height: 100%;
    width: 100%;
}

output .image span {
    position: absolute;
    top: -4px;
    right: 4px;
    cursor: pointer;
    font-size: 22px;
    color: white;
}

output .image span:hover {
    opacity: 0.8;
}

output .span--hidden {
    visibility: hidden;
}